body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: lightgray;
    text-align: center;
    width: 300px;
    padding: 20px;
}